/* Estilos generales de la tarjeta */
.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos de la imagen */
.image {
  width: 80%;
  height: 60%;
  border-radius: 8px;
}

/* Estilos del botón */
.button {
  font-size: 20px;
  font-family: "Molle", serif;
  font-weight: bold;
  font-style: italic;
  color: black;
  background: linear-gradient(45deg, #ffd700, #ffae00);
  padding: 10px 20px;
  border-radius: 15px;
  border: 3px solid goldenrod;
  box-shadow: 0 5px 15px rgba(218, 165, 32, 0.7);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px gold;
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 350px; /* Tamaño más pequeño */
  width: 90%; /* Se adapta al tamaño de la pantalla */
  max-height: 80vh; /* Limita la altura del modal */
  overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
  position: relative;
  box-shadow: 0 0 15px goldenrod;
}

/* Cerrar el modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Imagen del modal */
.modal-image {
  width: 100%;
  max-height: 200px; /* Limita la altura de la imagen */
  object-fit: contain; /* La imagen se ajusta sin deformarse */
  margin-bottom: 15px;
}

/* Estilos para la descripción y texto */
.modal-content p {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
  word-wrap: break-word; /* Permite que el texto largo se ajuste */
}

/* Estilo para el precio */
.modal-content p strong {
  font-weight: bold;
  color: goldenrod;
}
