.container {
    padding: 10px;
    text-align: center;
    
  }
  
  .grid {
    display: grid;
    width: 98%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px 500px 500px;
    gap: 5px 5px;

  }
  h2 {
    font-size: 50px;
    font-family: "Molle", serif;
    font-weight: 800;
    font-style: italic;
    color: black;
    text-shadow: 5px 5px 5px goldenrod, 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, white, #f8d347);
    padding: 15px 30px;
    border-radius: 20px;
    display: inline-block;
    border: 3px solid goldenrod;
    box-shadow: 0 0 15px goldenrod;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  h2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px gold;
  }
  
  
  