@keyframes slideInTitleItemList {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInGridItems {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  padding: 10px;
  text-align: center;
}

.grid {
  display: grid;
  width: 98%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px 500px 500px;
  gap: 5px 5px;
}

h2 {
  font-size: 50px;
  font-family: "Molle", serif;
  font-weight: 800;
  font-style: italic;
  color: black;
  text-shadow: 5px 5px 5px goldenrod, 10px 10px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, white, #f8d347);
  padding: 15px 30px;
  border-radius: 20px;
  display: inline-block;
  border: 3px solid goldenrod;
  box-shadow: 0 0 15px goldenrod;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: slideInTitleItemList 1s ease-out forwards;
}

h2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px gold;
}

.grid > div {
  animation: slideInGridItems 1s ease-out forwards;
}

/***************mediaquery*************/

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
  }

  h2 {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
    width: 98%;
    gap: 15px;
  }

  h2 {
    font-size: 35px;
    padding: 12px 20px;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  h2 {
    font-size: 28px;
    padding: 8px 15px;
  }
}