@keyframes flashGlow {
    0% {
      opacity: 0;
      filter: brightness(5);
      transform: scale(1.2); /* Comienza un poco más grande */
    }
    50% {
      opacity: 1;
      filter: brightness(1);
      transform: scale(1); /* Vuelve a su tamaño normal */
    }
  }
  
  .logo-animation {
    width: 80vw; /* Un tamaño grande pero sin pasarse */
    max-width: 90%; /* Evita que sea más ancho de lo necesario */
    height: auto; /* Mantiene la proporción */
    max-height: 80vh; /* Limita la altura para que no se corte */
    display: block; /* Asegura que no haya margen extra */
    margin: 0 auto; /* Lo centra en la pantalla */
    animation: flashGlow 2s ease-in-out;
  }

  
  